@model MVCProyectoPNT.Entity.RepositorioArchivos

@{
    ViewBag.Title = "Borrar Repositorio de Archivos";
    Layout = "_Layout";
}

<h2>Borrar Repositorio de Archivos</h2>

<h3>¿Estás seguro que deseas borrar este repositorio?</h3>
<div>
    <h4>Repositorio de Archivos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>