@model IEnumerable<MVCProyectoPNT.Entity.RepositorioArchivos>

@{
ViewBag.Title = "Repositorio de Archivos";
Layout = "_Layout";
}

<h2>Repositorio de Archivos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Nombre</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
        </td>
    </tr>
    }
    </tbody>
</table>

