@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p><a asp-controller="User" asp-action="Index">Ver la lista de usuarios</a></p>
</div>